.services {
  width: 100%;
  background-color: $color-blue-dark;
}

.services__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 84px;
  padding-bottom: 96px;
  align-items: center;
  justify-content: center;
}

.heading-tertiary {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: $color-white;
  margin-bottom: 12px;
  margin-bottom: 12px;
}

.services__heading {
  color: $color-white;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
  margin-bottom: 70px;
  transition: all 1.5s ease;
  @media only screen and(max-width:1024px) {
    line-height: normal;
    font-size: 40px;
  }
  @media only screen and(max-width:1024px) {
    line-break: none;
    font-size: 30px;
  }
  @media only screen and(max-width:600px) {
    line-break: loose;
    font-size: 25px;
  }
}

.services__heading:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.services-cards {
  display: flex;
  @media only screen and(max-width:768px) {
    flex-direction: column;
    text-align: center;
  }
}

.services__card {
  margin: 0 50px;
  @media only screen and(max-width:1024px) {
    margin: 0 15px;
  }
  @media only screen and(max-width:768px) {
    margin: 0;
    margin-bottom: 50px;
    width: 100%;
  }
}

.card__img-box {
  max-width: 100%;
  margin-bottom: 24px;
}

.card-img {
  width: 100%;
  transition: filter, transform 0.5s ease;
}

.card-img:hover {
  filter: drop-shadow(0 -2mm 5mm $color-white);
  transform: scale(1.1);
}

.card__heading {
  color: $color-white;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 28px;
}

.card__link {
  font-weight: 700;
  font-size: 20px;
  color: $color-white;
  line-height: 36px;
  transition: all 0.5s ease;
  list-style: none;
  text-decoration: underline;
  width: fit-content;
}

.card__link:hover {
  background-color: $color-green;
  text-shadow: 2px 2px 1px black;
  border-radius: 30px;
  text-decoration: none;
  padding: 1px 20px;
}

.card__link-item {
  font-weight: 700;
  font-size: 20px;
  color: $color-white;
  line-height: 36px;
  transition: all 0.5s ease;
  list-style: none;
  text-decoration: underline;
  width: fit-content;
  @media only screen and (max-width: 768px) {
    width: auto;
  }
}

.card__link-item:hover {
  background-color: $color-green;
  text-shadow: 2px 2px 1px black;
  border-radius: 30px;
  text-decoration: none;
  padding: 1px 20px;
}
